services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    networks:
      - default
  web:
    build:
      context: ./web
    depends_on:
      - server
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.newhome.rule=Host(newhome.karmaia.app)"
      - "traefik.http.routers.newhome.entrypoints=websecure"
      - "traefik.http.routers.newhome.tls.certresolver=le"
      - "traefik.http.routers.newhome.service=newhome-svc"
      - "traefik.http.services.newhome-svc.loadbalancer.server.port=80"
    networks:
      - default
      - proxy

networks:
  proxy:
    external: true
