services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "8000:8000"
  web:
    build:
      context: ./web
    ports:
      - "8080:80"
    depends_on:
      - server
